@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
  height: 100%;
}
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app_css {
  scrollbar-width: none;
  background: url("../public/img/bg.jpeg");
}

::-webkit-scrollbar {
  display: none;
}

.hero_animate {
  animation: animate 2s infinite ease alternate;
}
@keyframes animate {
  to {
    transform: translateY(30px);
  }
}

.text_stroke {
  font-size: 90px;
  font-weight: bold;
  cursor: pointer;
  color: transparent;
  -webkit-text-stroke: 1px white;
  position: relative;
}
.text_stroke::after {
  content: "Web Design";
  position: absolute;
  top: 0;
  left: 0;
}
